<!-- 
<div class="container body">


    
    <div class="container mt-5" id="logo">
        <img src="../../../assets/logo/LogoLetras.gif" alt="hostalLinked" >
    </div>   
         
    <div class="container mt-5">
        <span>{{lorem}}</span>
    </div>   
    
</div> -->

<body>
    <div class="top-hero">
        <div class="menu">
           <app-side-menu></app-side-menu>
        </div>
        <h1>Hostal-Linked</h1>
        <img src="../../../../assets/logo/a84ac4975a48427ebb8df8dc1c69e703 (1).png" alt="" srcset="">
        <h4>Acercandote a tu vecino mas lejano</h4>
        <a [routerLink] = "ruta" class="btn btn-primary mt-5">Comenzamos...</a>
    </div>
    
    <div class="container img-container">
        <img src="../../../../assets/images100pxMainCarousell/06viajes.jpg" alt="" srcset="">
    </div>  
 
</body>

   